body {
  font-family:"Roboto", sans-serif;
  color: #434455 ;
  background-color: #FFFFFF ;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.text {
    color:#2e2f42 ;
    text-transform: uppercase;
}

.navi_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
}


.contact_info {
    font-style: normal; 
}

.contact_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.navi_link:hover,
.navi_link:focus {
  color: #404bbf ;  
}

.contact_link:hover,
.contact_link:focus {

    color: #404bbf; 
}







.main_section {
    background-color: #2e2f42; 
    text-align: center; 
    letter-spacing: 0.02em;
}
.section_title {
    font-size: 56px; 
    line-height: 1.07; 
    color: #ffffff; 
    letter-spacing: 0.02em;
}
.cta_button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    color: #ffffff; 
    cursor: pointer;    
}
.cta_button:hover,
.cta_button:focus {
    background-color: #404BBF; 
}









.item_title_info {
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42;
}
.item_description_info {
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455; 
}










.third_section {
    background-color: #F4F4FD; 
}

.section_title_team {
    font-size: 36px;
    line-height: 1.11; 
    text-align: center; 
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    color: #2e2f42; 
}

.item_title_team{
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color:#2e2f42 ;
}
.item_description_team{
     font-size: 16px; 
     line-height: 1.5; 
     letter-spacing: 0.02em;
     color: #434455; 
}











.section_title_foto{
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;

}
.item_title_foto {
    font-weight: 500; 
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42; 
}
.item_description_foto {
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #434455; 
}







.footer_section {
    background-color: #2e2f42; 
}

.logo_footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform: uppercase; 
    color: #4d5ae5; 
}
.footer_text {
    color: #f4f4fd; 
}
.footer_description {
    line-height: 1.5; 
    color: var(--footer-text-color, #F4F4FD); 
    letter-spacing: 0.02em;
}





































